<%= form_with model: @flashcard do |form| %>
    <div>
        <%= form.text_area :front, placeholder: "Front Content" %>
    </div>

        <div>
        <%= form.text_area :back, placeholder: "Back Content" %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>