<h1>Flashcard Show</h1>

<div class="flashcard">
    <div class="flashcard-front">
        <p> <%= markdown(@flashcard.front) %> </p>
    </div>
    <div class="flashcard-back">
        <p> <%= markdown(@flashcard.back) %> </p>
    </div>
</div>